body{

margin:0;

font-family:Poppins,sans-serif;

background:#eef5ff;

color:#333;

}

header{

background:linear-gradient(120deg,#4facfe,#00f2fe);

color:white;

padding:50px;

text-align:center;

}

nav{

margin-top:20px;

}

nav a{

color:white;

text-decoration:none;

margin:15px;

font-weight:bold;

}

.card{

background:white;

width:80%;

margin:40px auto;

padding:25px;

border-radius:15px;

box-shadow:0 5px 20px rgba(0,0,0,.15);

transition:.4s;

}

.card:hover{

transform:translateY(-8px);

}

h2{

color:#2196F3;

}

footer{

text-align:center;

padding:30px;

background:#2196F3;

color:white;

}
